<!DOCTYPE html>
<html>
<%-partial("../partials/header")%>
  <body>
  <%-partial("../partials/navigater")%>
    <h1><%- body %></h1>
    <p><%= title %></p>
    <%-partial("../partials/footer")%>
  </body>
</html>
