<!DOCTYPE html>
<html>
<%-partial("../partials/header")%>
  <body>
  <%-partial("../partials/navigater")%>
  <%-partial("../partials/header-tow")%>
    <!-- -->
  <div class="building-block-preview">
    <div class="callout warning logInfo-a">

  <h4 align="center">ВНИМАНИЕ!!!</h4>
      <p>
      Если Вы, закроете это окно, работа программы прекратится, в следствии чего, могут остаться установленные ордера.
    </p>
      </div>
  </div>
  <div class="logInfo">
    <ul id="nullwallets"></ul>
  </div>


    <%-partial("../partials/footer")%>

  <script src="/socket.io/socket.io.js"></script>

  <script>
    var toolsObjc = "<%=userId%>";
    var socket = io.connect('http://localhost:3000');
    socket.emit('RPC', { access: {"run":'nulwallet_start',
    "toolsObjc": toolsObjc
    }});
    socket.on(toolsObjc, function (data) {
      $("#nullwallets").append("<li class='item'>"+data.hello+"</li>");
      console.log(data);
     });
    //socket.on('disconnect', function () {
   //   socket.disconnect(true);
      //console.log('disconnect client event....');
   // });
    //socket.disconnect(true);

  </script>
    </body>
</html>
